/* .no-scroll {
    overflow: hidden;
  } */

.mobile-nav-btn {
    display: none;
    position: relative;
    z-index: 50;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
    height: 20px;

    z-index: 99
}

.mobile-nav-btn span {
    height: 2px;
    width: 100%;
    border-radius: 30px;
    transform: scale(1);
    background-color: #fff;
}

.mobile-nav-btn::before,
.mobile-nav-btn::after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 30px;
    width: 100%;
    background-color: #fff;
    transition: all 0.5s ease 0s;
}

.mobile-nav-btn::before {
    top: 0;
}
.mobile-nav-btn::after {
    bottom: 0;
}

.mobile-nav-btn.active span {
    transform: scale(0);
}

.mobile-nav-btn.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.mobile-nav-btn.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
