.header {
    height: 689px;
    background-color: #191d1d;
    background-image: url('./../img/BG.jpg');
    background-size: cover;
    background-position: center center;
}
.header .title {
    padding: 0;
}
.logo img {
    transition: transform 0.3s ease;
}
.logo:hover img {
    transform: scale(1.1);
}

/*______________________________ NAVIGATION ______________________________*/
               
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list__item {
    display: inline-block;

    font-family: "Nunito";
    font-size: 16px;
    padding: 0 0 0 42px;

    transition: background-color 0.3s ease;
}
.nav-list__link {
    display: inline-block; 
    transition: transform 0.3s ease;
}
.nav-list__link:hover {
    transform: scale(1.1);
}
.nav-list__link--active {
    text-shadow: 0 0 10px #fff;
}
.header-btn {
    margin-left: 85px;
}

/*______________________________ CONTENT ______________________________*/
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 689px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.video {
    display: none;
    position: relative;
    width: 50%;
    height: 50%;
}
.video.open {
    display: flex;
}
.video iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video img {
    width: 40px;
}
.clear {
    opacity: 0;
}
.clear.open{
    opacity: 1;
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 999;
}
.clear:hover {
    cursor: pointer;
}
.header__content {
    display: flex;
    height: 600px;
}
.header__content__left {
    width: 50%;
}
.swipe {
    font-family: "Nunito";
    font-size: 16px;
    letter-spacing: 7px;
    padding-bottom: 370px;
    
    writing-mode: vertical-lr; /* Устанавливаем вертикальный режим написания снизу вверх */
    transform: rotate(-180deg); /* Поворачиваем текст на 90 градусов влево для коррекции направления */
}
.header__content__right {
    width: 50%;
    margin-top: 180px;
}
.play img {
    width: 23px;
    height: 26px;

}
.play {
    margin-top: 30px;
    width: 69px;
    height: 69px;
    border: 1px solid #6D7D7D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 999;
}
.play.open {
    display: none;
}
.play:hover {
    cursor: pointer;
    box-shadow: inset 0 0 25px #ffffff17;
}