/* Large desktops and laptops */
/* media (min-width: 1200px) {
 
} */
 
/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
    .container {
        padding: 0 30px 0 30px;
    }

    .header__button {
        margin-left: 20px;
    }

}
 
/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    .nav-list {
        display: none;
    }

    .mobile-nav-btn {
        display: flex;
    }

    .header__content__right {
        width: 100%;
    }
}

 
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

} 
 
/* Landscape phones and smaller */
/* media (max-width: 480px) {
 
} */